// @import "tablesorter-style.scss";
@import "igem-poster.scss";
// @import "~bootstrap-reboot";
// @import "_igem-reset.scss";
// @import "~bootstrap/scss/bootstrap";
// @import "_fix-bootstrap.scss";
// @import "_fonts.scss";
// @import "_media_queries.scss";
// @import "_colors.scss";

html {
  // overflow-x: hidden;
  scroll-behavior: smooth;
}

// button from
// https://codepen.io/kathykato/pen/rZRaNe

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

