html
  body
    .page_wrapper
      .page_center
        .poster_w.content
          .row
            #title_block.section.full.first_text
              // 1200 x 200 pixels
              img(src='https://dummyimage.com/1200x200/000/fff&text=SugarGain')
              .info
                .title
                  #title_title
                    h1 SugarGain
                .text
                  #title_content
                    p You should list all authors and their affiliations here. You can also add the project&apos;s abstract.
          .row
            #inspiration_block.section.full
              // 1200 x 200 pixels
              img(src='https://dummyimage.com/1200x200/000/fff&text=Inspiration')
              .info
                .title  Introduction 
                .text  Introduce your project and your team&apos;s goals.
          .row
            #design_block.section.full
              img(src='https://dummyimage.com/1200x300/000/fff&text=Design')
              //- img(src='https://2020.igem.org/wiki/images/f/f3/T--Example--Poster_Inspiration.png')
              .info
                .title  Inspiration 
                .text
                  | What inspired your team? What motivated you to work on this particular project?
          .row
            #modelling_block.section.third
              // 400 x 200 pixels
              img(src='https://dummyimage.com/400x350/000/fff&text=Modelling')
              .info
                .title  Problem 
                .text
                  | What is the problem your team is working to solve? How does it affect the world?
            #engineering_block.section.third
              // 400 x 200 pixels
              img(src='https://dummyimage.com/400x350/000/fff&text=Engineering')
              .info
                .title Idea 
                .text  How are you going to solve the problem? Where did the idea come from? 
            #safety_block.section.third
              img(src='https://dummyimage.com/400x350/000/fff&text=Safety')
              .info
                .title  Engineering
                .text  Here you can explain the engineering process behind your project. 
          .row
            #human_practices_block.section.third
              // 400 x 200 pixels
              img(src='https://dummyimage.com/400x350/000/fff&text=Human_Practices')
              .info
                .title  Problem 
                .text
                  | What is the problem your team is working to solve? How does it affect the world?
            #implementation_block.section.third
              // 400 x 200 pixels
              img(src='https://dummyimage.com/400x350/000/fff&text=Implementation')
              .info
                .title Idea 
                .text  How are you going to solve the problem? Where did the idea come from? 
            #entrepreneurship_block.section.third
              img(src='https://dummyimage.com/400x350/000/fff&text=Entrpreneurship')
              .info
                .title  Engineering
                .text  Here you can explain the engineering process behind your project. 
          .row
            #sci_comn_block.section.half
              // 600 x 200 pixels
              img(src='https://dummyimage.com/600x250/000/fff&text=Science_Communication')
              .info
                .title  Problem 
                .text
                  | What is the problem your team is working to solve? How does it affect the world?
            #software_block.section.half
              // 600 x 200 pixels
              img(src='https://dummyimage.com/600x250/000/fff&text=Software')
              .info
                .title Idea 
                .text  How are you going to solve the problem? Where did the idea come from? 
          .row
            #acknowledgements_block.section.full
              // 400 x 200 pixels
              img(src='https://dummyimage.com/1200x150/000/fff&text=Acknowledgements')
              .info
                .title  Problem 
                .text
                  | What is the problem your team is working to solve? How does it affect the world?
        .poster_w.display
          #section_title
          #section_text

